<p-dialog [header]="'uploadContract.chooseClientHeader' | translate"
          [(visible)]="visible"
          [modal]="true" [dismissableMask]="true"
          (onHide)="close()"
          showEffect="fade"
          styleClass="mx-3 sm:mx-0 sm:w-full md:w-8 lg:w-6"
          contentStyleClass="border-round-bottom border-top-1 surface-border p-0">

    <!-- OS FIZYCZNA / FIRMA -->
    <div class="client-type-container card">
        <h5 >{{'uploadContract.clientTypeHeader' | translate}}</h5>
        <div class="description-container mb-4">
            <span class="text-color-secondary">{{'uploadContract.clientTypeHeaderDesc1' | translate}}</span>
            <span class="text-color-secondary">{{'uploadContract.clientTypeHeaderDesc2' | translate}}</span>
        </div>

        <div class="client-type-input-container">
            <div>
                <span>{{'common.person' | translate}}</span>
                <i class="fa-solid fa-user-tie" style="padding-left: 0.4em"></i>
            </div>
            <p-inputSwitch [(ngModel)]="asCompany"></p-inputSwitch>
            <div>
                <i class="fa-solid fa-building" style="padding-right: 0.4em"></i>
                <span>{{'common.company' | translate}}</span>
            </div>
        </div>
    </div>


    <!-- LOGOWANIE -->
    <div class="login-container card">
        <h5 >{{'uploadContract.loginHeader' | translate}}</h5>
        <div class="description-container mb-4">
            <span class="text-color-secondary">{{'uploadContract.loginHeaderDesc1' | translate}}</span>
            <span class="text-color-secondary">{{'uploadContract.loginHeaderDesc2' | translate}}</span>
        </div>

        <app-login (onSignIn)="loadUserData($event)" ngClass="{{asGuest? 'hidden': ''}}"/>

        <div class="as-guest-container">
            <span class="text-color-secondary mb-4">{{'uploadContract.continueAsGuest' | translate}}</span>
            <p-inputSwitch [(ngModel)]="asGuest"></p-inputSwitch>
        </div>

        <div class="user-data-container" ngClass="{{asGuest? '': 'hidden'}}">
            <form [formGroup]="userDataForm">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input id="user-name-input" pInputText
                               type="text"
                               name="firstName"
                               autocomplete="given-name"
                               formControlName="name">
                        <label for="user-name-input">{{'uploadContract.firstname' | translate}}</label>
                    </span>
                    <span class="p-float-label">
                        <input id="user-surname-input" pInputText
                               type="text"
                               name="lastName"
                               autocomplete="family-name"
                               formControlName="surname">
                        <label for="user-surname-input">{{'uploadContract.surname' | translate}}</label>
                    </span>
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-phone"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input id="user-phone-input" pInputText
                               type="tel"
                               name="phone"
                               autocomplete="tel"
                               formControlName="phone">
                        <label for="user-phone-input">{{'uploadContract.phone' | translate}}</label>
                    </span>
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-envelope"></i>
                    </p-inputGroupAddon>
                    <span class="p-float-label">
                        <input id="user-email-input" pInputText
                               type="email"
                               name="email"
                               autocomplete="email"
                               formControlName="phone">
                        <label for="user-email-input">{{'uploadContract.email' | translate}}</label>
                    </span>
                </p-inputGroup>
            </form>
        </div>
        <div class="btn-container">
            <button pButton pRipple label="{{'common.next' | translate}}" class="mb-4"></button>
        </div>

    </div>

</p-dialog>
