.card {
    margin: 5em;
}

h5 {
    margin-bottom: 0.4em;
}
.description-container {
    margin-bottom: 2em !important;
    span {
        display: block;
    }
}


.client-type-container {
      .client-type-input-container {
        margin-bottom: 4em !important;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 5em;

        div {
            span {
                font-size: 1.4em;
            }
            i {
                font-size: 2.2em;
            }
        }
    }
}

.login-container {
    .as-guest-container {
        margin-bottom: 4em !important;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 2em;

        span {
            margin-right: 1em;
        }
    }

    .user-data-container {
        margin-bottom: 4em !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 2em;

        p-inputGroup {
            margin-bottom: 3em;

            input {
                background-color: white;
            }
        }
    }
}

.btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
